<div class="row show-idea-panel" style="background-color: <%= idea_component.background %>">
    <div>
        <p class="text-center white-text"><%= idea_component.title %></p>
        <div class="card-panel show-idea-panel-card">
            <%= raw idea_component.description %>
        </div>
    </div>    
</div>
